# STRINGS

### What are strings?

In a programming language, a string is a sequenece of characters. 
For example, "hello" is a string consisting of 'h','e','l','l'and 'o'.

Let me show you how string in used in code.

In [5]:
string = 'hello'
print(string)

hello

If you see above the word hello is saved used with 'single quotes' which helps identify as a string. A string is created and saved in a variable named string which when printed gives the output of what's stored in the above variable.

There are multiple ways in which you can create strings. 
Let me show you in the below examples. 

-  Creating a string with single quotes.

-  Creating a string with double quotes.

-  Creating a string with triple quotes.

In [7]:
#Creating a string with single quotes.
string = 'hello'
print(string)

hello

In [8]:
#Creating a string with double quotes.
string = "hello"
print(string)

hello

In [11]:
#Creating a string with triple quotes.
string = '''hello'''

print(string)

hello

If you see above, all the 3 ways of denotion gives the same output. Now you might think that why do we use 3 ways to denote a string when all the 3 types can give the same output. 

Let me show you why in the below examples:

In [15]:
string1 = 'hello!'
print(string1)

hello!

In [16]:
string2 = 'this is harish's bag'
print(string2)

SyntaxError: invalid syntax (9960318.py, line 1)

In [17]:
string2 = "this is harish's bag"
print(string2)

this is harish's bag

In [20]:
string3 = 'My firstname is Harish.
My lastname is Panjikar.'
print(string3)

SyntaxError: EOL while scanning string literal (55359108.py, line 1)

In [21]:
string3 = "My firstname is Harish.
My lastname is Panjikar."
print(string3)

SyntaxError: EOL while scanning string literal (2087989233.py, line 1)

In [19]:
string3 = '''My firstname is Harish.
My lastname is Panjikar.'''
print(string3)

My firstname is Harish.
My lastname is Panjikar.

From the above examples, we learn that:
-  single quotes can be used for characters or statements without ' in it. 
-  double quotes are used when the string includes ' in it. 
-  triple quotes are used to write a string in multiple lines.

## How strings are stored in memory?

Strings are saved in memory using ‘Interned Dictionary.’ It’s a simple dictionary that stores the character as the key and the address as the value. Let’s understand this with the help of an example:

In [22]:
s = "Hello World"

![1_vt1QNGyVgbvZcpq7k4SaFg.webp](attachment:1_vt1QNGyVgbvZcpq7k4SaFg.webp)

If you see above, the string "Hello World" has been saved in the variable called s with certain numbers above the characters and variables. These are called the addresses of the of where the characters of the strings are saved in a variable.  
Let me show you by listing down a single example:

In [25]:
s1 = 'A' 
s2 = s1
print(s1)
print(s2)
print(id(s1))
print(id(s2))

A
A
140351076604592
140351076604592

![1_di3KAgIBpZT7pKt7JQkR5Q.webp](attachment:1_di3KAgIBpZT7pKt7JQkR5Q.webp)

when we created the first string s1, a string object gets created inside the memory, after this starts the process of string interning. Python will first look up into the interned dictionary if the character ‘A’ exists, as it was empty initially. A new key-value pair gets created, the character ‘A’ is set as the key and the location of the object in which it resides is set as the value that is 123.

In the next step, when we assigned the string s1 to s2, the address present in s1 is sent to s2 and s2 starts to point towards the same object! We call this a reference-type assignment.

![1__FuhZn8HNZhv0VwsonUHOg.webp](attachment:1__FuhZn8HNZhv0VwsonUHOg.webp)

## Indexing in Strings

We can access the characters of the string by using index values considering the string as a list. 

Let me show you an example:

In [31]:
name = "Harish Panjikar"
name = list(name)
print(name)
print(name[7])
print(name[4])

['H', 'a', 'r', 'i', 's', 'h', ' ', 'P', 'a', 'n', 'j', 'i', 'k', 'a', 'r']
P
s

If you see above, we have a string "Harish Panjikar" saved in a variable named name. Teh indexing in the string starts from left to right [0 - n] where n is being the last index of the string. 

We see that when searched for a character with index 7, the output is P as the character is saved on 7th index of the list.

In [32]:
name = "Harish Panjikar"
name = list(name)
print(name)
print(name[-3])
print(name[-1])

['H', 'a', 'r', 'i', 's', 'h', ' ', 'P', 'a', 'n', 'j', 'i', 'k', 'a', 'r']
k
r

Likewise, we can find the characters from right to left by using negative indexing. Please note that positive indexing starts with 0 whereas negative indexing starts with -1.

## Slicing in Strings

Slicing is used to access a range of characters from a given list by using a slicing operator colon ':'.
For example:

In [38]:
Greeting = "Hey there!"
Greet=list(Greeting)
print(Greet)
print(Greeting[3:7])

['H', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e', '!']
 the

In the above example, we try to find the characters between a range of 3 to 7. Please know that in slicing of the string ends 1 before the mentioned ending index of the range. 
If you check the above mentioned listfor reference and count the characters with index, you will notice that the characters from index 3 to 6 only have been printed.

## Methods in Strings

In [42]:
s = "Football "
print(s.upper()) #converts the string to uppercase

FOOTBALL

In [41]:
print(s.lower()) #coverts the string to lowercase

football

In [46]:
print(s.partition("bal")) #returns a tuple

('Foot', 'bal', 'l ')

In [48]:
#replace()returns a new string where all occurrences of a specified substring are replaced with another substring.
text = "Hello, World! My World!"
new_text = text.replace("World", "Python") 
print(new_text)

Hello, Python! My Python

In [49]:
#strip() returns a new string with all leading and trailing whitespace removed.
text = "    hello     "
new_text = text.strip()
print(new_text)

hello

In [56]:
#split() returns list of substrings returned by a specified delimiter
text = "apple,banana,cherry"
fruits = text.split(",")
print(fruits)

['apple', 'banana', 'cherry']

In [58]:
#join() joins the elements of a list into a string using a specified separator.
fruits = ["apple", "banana", "cherry"]
text1 = ",".join(fruits)
text2 = "|".join(fruits)
print(text1)
print(text2)

apple,banana,cherry
apple|banana|cherry

In [61]:
#find() returns the index of the first occurance of the specified substring. 
text = "Hello World!"
new_text = text.find('World')
print(new_text)

6

In [72]:
text = "Hello World!"
print(len(text))

12

In [62]:
text = "Hello World!"
new_text = text.find('hey')
print(new_text)

-1

In [63]:
#count() specifies the number of substring in a string. 
text = "Hello World!"
new_text = text.count('l')
print(new_text)

3

## Operations on strings

-  Comparing two strings

In [67]:
str1 ="Hey there!"
str2= "I am Harish!"
str3= "Hey there!"

print(str1 == str2)
print(str2 == str3)
print(str1 == str3)

False
False
True

Above I have tried comparing the 3 strings with each other using == operator. In this operation, the characters are checked if they are similar to eachother index by index.

-  concatenating or joining two strings

In [69]:
greet = 'Hey'
name = 'Harish'
result = greet + " " + name 
print(result)

Hey Harish

In the above example, i have tried to add the variables which have strings saved in them.

-  repeating a string by using repetition operator

In [70]:
str = "Hey Afsan!"
print(str*10)

Hey Afsan!Hey Afsan!Hey Afsan!Hey Afsan!Hey Afsan!Hey Afsan!Hey Afsan!Hey Afsan!Hey Afsan!Hey Afsan!

-  membership operator

In [71]:
string1 = "helloworld"
print("w" in string1)
print("t" not in string1)
print("hello" in string1)
print("hello" not in string1)

True
True
True
False

In the above example, you will see that the membership operator is used for find a substring in the string.

## Properties of Strings

-  Strings are immutable. The only way to modify the existing string is by creating a new string and assigning it to the same variable but you cannot modify the string directly.
-  You can find the existance of characters by accessing them via indexing and slicing the string. 
-  you can concatenate two strings by assigning it to a variable and then using the concatanation operator.

## Use-case for strings

-  Strings can be used in user interfaces in web development where you need display the labels of any substance of the website. 
-  strings are used in parsing and processing structured data such as CSV and JSON data.

#### Q. What is the difference between index and find in a string! explain with example

In [73]:
text = "Haloween"
s= text.index('ow')
print(s)

3

In [74]:
text = "Haloween"
s= text.index('k')
print(s)

ValueError: substring not found

In [75]:
text = "Haloween"
s= text.find('ow')
print(s)

3

In [77]:
text = "Haloween"
s= text.find('k')
print(s)

-1

If you see above, the main difference between an index function and a find function is that the index function throws a value error where as the find function throws -1 as an output. 

One should be using the find function instead of an index function when they are not sure about the presence of a substring. 

An advantage that index function has over find function is that you can use index function for string,list as well as tuples whereas the find function will throw an error when used in list and tuples

In [78]:
text = ["Haloween","hey"]
s= text.find('hey')
print(s)

AttributeError: 'list' object has no attribute 'find'

In [79]:
text = ("Haloween","hey")
s= text.find('hey')
print(s)

AttributeError: 'tuple' object has no attribute 'find'

In [80]:
text = ["Haloween","hey"]
s= text.index('hey')
print(s)

1

In [81]:
text = ("Haloween","hey")
s= text.index('hey')
print(s)

1

#### Q2. player = "Rashford". what will be output of the following code explain!
  player[::-1] , player[1:5:3], player[1:8:-2], player[-1:-7:2] , player[-5:-1:2], player[6:2:-1]

In [83]:
player= "Rashford"
print(player[::-1])
#the above string is reversed

drofhsaR

In [84]:
player= "Rashford"
print(player[1:5:3])

af

the above slicing method will print characters between index 1 and 5 with slice to print every third character.

In [94]:
player= "Rashford"
print(player[1:8:-2])

When using a step value, it must be a positive integer. In this case, a step value of -2 means that the slice should start at index 1 and go backwards by 2 characters until it reaches index 8. However, since the step is negative, the slice can only go backwards from the start index towards the end index, which is not possible in this case since the end index is smaller than the start index.

In [98]:
player= "Rashford"
print(player[-1:-7:-2])

doh

in this case, player[-1] refers to the last character of the string, which has an index of -1, and player[-7] refers to the 7th character from the end of the string, which has an index of -7. Therefore, player[-1:-7:2] is an empty string slice because it specifies an empty range.

In [99]:
player= "Rashford"
print(player[-5:-1:2])

ho

In the above example, the start index is larger than the end index and the step size is positive. Hence we are able to receive the output.

In [100]:
player= "Rashford"
print(player[6:2:-1])

rofh

#### Q3. When we use replace method to replace word/char in string so do we get a new string or the changes are made in the original string itself? explain with an example

In [105]:
text = "Rashford"
text1= text.replace('R','H')
print(text1)
print(text)

Hashford
Rashford

In [103]:
print(id(text))
print(id(text1))

140351361176496
140351113489008

Since strings are immutable, one will have to save the replaced string or a charater in different address. 

You can see above that addresses of both variables are different.